.projets{
    padding-left:20px;
}
.projets li{
    list-style:none;
    margin-bottom:4px;
    background:#ddd;
    padding:8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.projets li span{
    text-decoration:none;
    padding-right:20px;
}
.projets li a{
    color:#222;
    background:#eee;
    padding:4px 10px;
    border:0px solid gray;-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration:none;
}
div .smenu li {
  list-style: none;
}
